@charset "UFT-8";
@font-face {
    font-family: Space;
    src: url('../fonts/SpaceAndAstronomy-pZRD.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-position: top center;
    background-size: cover;
    background-image: url('../imagens/fundo.jpg');
    background-attachment: fixed;
    position: relative;
}

.fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    top: 0;
    background-position: top center;
    background-size: cover;
    background-image: url('../imagens/fundo-1.gif');
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-family: Space;
    font-size: 5rem;
    color: rgb(0, 221, 228);
    text-shadow: 0px 0px 5px #ffffff;
}

p {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.box-input {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0 calc((100% - 500px) / 2);
};

.container-input {
    display: flex;
}

label {
    font-family: Space;
    text-transform: uppercase;
    color: rgb(225, 130, 245);
    text-shadow: 1px 1px 0px black;
    font-size: 1.8rem;
}

input {
    box-sizing: content-box;
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    background: rgba(88, 0, 100, 0.788);
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}

.item-input {
    z-index: 175;
}

#ano {
    margin-right: 0;
    width: 60px;
}

.box-botoes {
    display: flex;
    justify-content: center;
}

.box-temas {
    display: flex;
    justify-content: center;
    padding: 0 calc((100% - 500px) / 2);
    margin: 20px;
}

.tema>p {
    padding: 10px;
    margin: 0;
    font-size: 1.4rem;
}

.tema {
    margin: 10px;
    background: rgba(88, 0, 100, 0.502);
    box-shadow: 0px 0px 5px white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 175;
}

.tema:first-child {
    background: rgb(0, 221, 228);
}

.tema:active {
    background: rgba(128, 128, 128, 0.479);
}

#box-saida,
#box-status {
    padding: 10px calc((100% - 900px) / 2);
    text-align: center;
}

#resultado {
    display: none;
    background: rgba(88, 0, 100, 0.788);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

#status {
    display: none;
    background-image: linear-gradient(to right, transparent, rgba(88, 0, 100, 0.788), transparent);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

#aviso p {
    padding: 10px;
    font-size: 1.6rem;
}

button {
    padding: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    background: rgba(88, 0, 100, 0.502);
    color: rgb(225, 130, 245);
    text-shadow: 1px 2px 1px black;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 175;
}

button:active {
    background: rgba(128, 128, 128, 0.479);
}

span {
    color: rgb(0, 221, 228);
}

.box-imagens {
    display: flex;
    justify-content: center;
    padding: 0 calc((100% - 1200px) / 2);
    height: 80vh;
    margin: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;
    position: relative;
    cursor: pointer;
    z-index: -1;
}

.box-sobre {
    display: none;
    max-width: 800px;
    overflow: auto;
    background: rgba(88, 0, 100, 0.502);
    box-shadow: 0px 0px 10px white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
}

#sobre_signo p {
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    text-shadow: 0px 1px 1px black;
}

#sobre_signo p:first-child {
    margin: 0;
}

.imagens {
    width: 100%;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

@media (max-width: 500px) {
    .box-input {
        flex-direction: column;
        align-items: center;
    }
    .item-input {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 150px;
    }
    label {
        margin: 10px;
        font-size: 2rem;
    }
    input {
        width: 60px;
        margin-right: 0;
        font-size: 2rem;
    }
}

@media (max-width: 393px) {
    #sobre_signo p {
        font-size: 2rem;
    }
}