@charset "UFT-8";
@font-face {
    font-family: Space;
    src: url('fonts/SpaceAndAstronomy-pZRD.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Inter', sans-serif, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-position: top center;
    background-size: cover;
    background-image: url('imagens/fundo.jpg')
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

h1 {
    text-align: center;
    font-family: Space;
    font-size: 4rem;
    color: rgb(0, 221, 228);
    text-shadow: 0px 0px 5px #ffffff;
}

p {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    text-shadow: 1px 2px 1px black;
}

.box-input {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 calc((100% - 500px) / 2);
}

label {
    font-family: Space;
    text-transform: uppercase;
    color: rgb(225, 130, 245);
    text-shadow: 1px 2px 1px black;
    font-size: 1.8rem;
}

input {
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    background: rgba(88, 0, 100, 0.788);
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}

#ano {
    margin-right: 0;
    width: 60px;
}

.box-botoes {
    display: flex;
    justify-content: center;
}

#box-saida {
    padding: 0 calc((100% - 900px) / 2);
    text-align: center;
}

#resultado {
    display: none;
    background: rgba(88, 0, 100, 0.788);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

button {
    padding: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    background: rgba(88, 0, 100, 0.502);
    color: rgb(225, 130, 245);
    text-shadow: 1px 2px 1px black;
    text-transform: uppercase;
    cursor: pointer;
}

button:active {
    background: rgba(128, 128, 128, 0.479);
}

span {
    color: rgb(0, 221, 228);
}

.box-imagens {
    display: flex;
    padding: 0 calc((100% - 1200px) / 2);
    height: 80vh;
}

.imagens {
    list-style-type: none;
    width: 100%;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

@media (max-width: 500px) {
    .box-input {
        flex-direction: column;
        align-items: center;
    }
    .item-input {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 150px;
    }
    label {
        margin: 10px;
        font-size: 2rem;
    }
    input {
        width: 60px;
        margin-right: 0;
        font-size: 2rem;
    }
}